<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Error</title>
  </head>
  <body>
    <%- include('./layouts/header') %>
    <main>
      <h1>Error</h1>
      <p><%= message || "An unexpected error occurred" %></p>
      <p><%= error.status || 500 %></p>
      <pre><%= error.stack %></pre>
    </main>
    <%- include('./layouts/footer') %>
  </body>
</html>
